body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 350px;
margin: 20px;
text-align: center;
padding: 20px;
}

.card-img img {
border-radius: 50%;
border: 5px solid rgb(28, 185, 51);
width: 150px;
height: 150px;
object-fit: cover;
margin-bottom: 20px;
}

.card-content {
padding: 0 20px;
}

.user-info h1 {
margin: 10px 0;
font-size: 24px;
}

.user-info button {
background-color: #007bff;
color: #fff;
border: none;
padding: 10px 20px;
margin: 5px;
cursor: pointer;
border-radius: 5px;
}

.user-stats p {
font-size: 14px;
color: #777;
margin: 10px 0;
}

.user-name h3, .user-name h4 {
margin: 5px 0;
font-size: 16px;
}

.user-bio h5 {
margin: 10px 0 5px;
color: #777;
font-weight: normal;
}

.user-bio p {
font-size: 14px;
margin: 5px 0;
color: #333;
}