*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background: #bbc6fa;
}
.quate-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* justify-content: center;
    place-items: center;
    align-self: center; */

}
.quate-box h2{
    font-size: 32px;
    /* margin-bottom: 40px; */
}
.quate-box h2::after{
    content: '';
    /* width: 75px;
    height: 3px; */
    /* border-radius: 3px; */
    background: rbg(23, 124, 229);
    /* position: absolute; */
    /* bottom: -10px; */
    /* left: -10px; */
    /* transform: translate(-50%); */
}

.quate-box blockquote{
    font-size: 26px;
    /* min-height: 110px; */

}
.quate-box blockquote::before, .quate-box blockquote::after{
    content: "";
}
.quate-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quate-box span::before{
    content: "";
    /* width: 20px;
    height: 2px; */
    background: rgb(23, 124, 229);
    position: absolute;
    /* top: 50%;
    left: -30px; */
}

.quate-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quate-box button{
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quate-box button img{
    width: 20px;
    margin-right: 10px;
}

.quate-box button:nth-child(2){
    background: transparent;
    color: #333;
}
img {
    size: 20px;
    border: 20px;
    width: 20px;
    height: 15px;
}